header#main-header {
    height: 60px;
    background-color: #ff4757;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}